body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    order: 1;
 }

footer {
    display: flex;
    order: 10;
}

.content{
    display: flex;
    flex-direction: row;
}

#nav-articles {
   order: -1;
   padding: 20px;
} 

main{
    display: flex;
    flex-direction: row;
}

#nav-one{
    display: flex;
    order: 1;
}

#nav-two{
    display: flex;
    order: 1;
}